@if(sessionToken) {
<mat-toolbar>
  <!-- @if(sidenav.mode=='over') { -->
  <button mat-icon-button (click)="sidenav.toggle()">
    @if(sidenav.opened) {
    <mat-icon>close</mat-icon>
    }
    @else {
    <mat-icon>menu</mat-icon>
    }
  </button>
  <!-- } -->
  Tool Bar
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <app-menu-panel></app-menu-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
}
@else {
<app-login></app-login>
}