mat-toolbar {
    background: #7697ea;
    color: black;
}

mat-sidenav {
    margin: 0;
    width: 250px;
    border-right: none;
    background-color: #e8f3f9;
    color: black;
    padding: 20px;
    text-align: center;
}

mat-sidenav-content {
    height: calc(100vh - 65px);
    background: #d2e0eb;
}

.content {
    height: calc(100vh - 100px);
    width: calc(100% - 10px);
    background: #d2e0eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal-class .mat-dialog-container {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}
